# None shall pass
*

# well of course except this saying so
!.gitignore

# our basic, shared configuration
!.bashrc
!/.bashrc.d/
!/.bashrc.d/*

# I suppose I could tell people what this is all about
!README.md

# ... just in case
!empty
