# None shall pass
*
# well of course except this saying so
!.gitignore

# our basic, shared configuration
!.bashrc
!.screenrc
!.toprc

# oh VIM! definitely VIM. That's mostly what we're here for.
!.vimrc
!/.vim/
!/.vim/*
!/.vim/bundle/*

# there will also be the occasional add-on script, binary or library
!Extensions/
!Extensions/**

# but anything machine-specific will be handled with a different repo
Extensions/Local

# I suppose I could tell people what this is all about
!README.md

# ... just in case
!empty
