[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-bufonly"]
	path = .vim/bundle/vim-bufonly
	url = https://github.com/schickling/vim-bufonly
[submodule "Extensions/nvm"]
	path = Extensions/nvm
	url = git@github.com:creationix/nvm.git
	branch = master
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "/Users/joetheriault/.vim/bundle/vim-jsdoc"]
	path = /Users/joetheriault/.vim/bundle/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
